<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="background-image: url('static/ocean.jpg')">
        <style>
            @font-face {
                font-family: myFont;
                src: url(static/akaDora.otf);
            }
            body {
                font-family: myFont;
            }
        </style>

        <div>
            <div style="margin:auto;display:block">
                <h1 style="text-align: center;font-size: 2.5em;margin-bottom: 0;">Flotte 18e Bruxelles</h1>
            </div>
            <div id="svgRoot" style="margin-top: -2em;"></div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@latest/dist/svg.min.js"></script>
        <script async defer>
            var num_teams = 4;
            var names = ["Chevreuil", "Chamois", "Lynx", "Renard"]
            var ship_parts = ["TL-1", "TL-2", "ML-1", "ML-2", "ML-3", "ML-4", "B"]
            var part_colors = ["#ef9b0f","#fefefe","#db1702","#fdee00","#3a9d23","#318ce7","#d473d4"]
            var part_names = [ "Cuisinier", "Liturgiste", "Secouriste", "Messager" , "Pionnier", "Topographe", "Bout-en-train"]
            var team_state = null;
            var is_phone_view = null;

            var draw = SVG().addTo('#svgRoot').size('100%', '100%');

            $(document).ready(async function() {
                await load_data();
                updateView();
                redraw();

                setInterval(refresh, 30*1000);
                window.addEventListener("focus", () => setTimeout(refresh, 500));

                $(window).resize(() => {
                    let should_be_phone_view = ($(window).height() > $(window).width());
                    if ((should_be_phone_view && !is_phone_view) || (!should_be_phone_view && is_phone_view)) {
                        updateView();
                        redraw();
                    }
                });
            });

            async function refresh() {
                await load_data();
                names.forEach((_, t_id) => {
                    ship_parts.forEach((_, p_id) => {
                        fillPart(t_id, p_id);
                    })
                })
            };

            function updateView () {
                is_phone_view = ($(window).height() > $(window).width());
                if (is_phone_view) {
                    positions = names.map((_,i) => [500, 230 + i*480]);
                    legend_position = [1000, 200];
                    height = 2500;
                    scale = 2;
                } else {
                    positions = [[40,20], [600, 70], [850, 300], [250, 250]];
                    legend_position = [1150, 0]
                    height = 530;
                    scale = 1;
                }
            }

            async function load_data() {
                return $.get("/state", data => { team_state = data; })
            };

            function redraw() {
                draw.clear();
                createLegend();
                createShips();
            }
            
            function createLegend() {
                let legend_group = draw.group().id("legend");
                legend_group.translate(...legend_position).scale(scale);
                part_names.forEach( (name, i) => {
                    let part_group = legend_group.group().translate(0, i*22);
                    part_group.rect(20, 20).fill(part_colors[i]);
                    part_group.text(name).translate(25, -5);
                });
            };

            function createShips() {
                $.get('static/ship.svg', function(contents) {
                    let svgText = $('#root', contents).html();

                    for (let team_idx = 0; team_idx < num_teams; team_idx++) {
                        let svg = draw.svg(svgText);
                        svg.viewbox(0, 0, 1280, height);

                        ship = svg.findOne(`.ship:last-child`);
                        ship.id(`tm-${team_idx}`);
                        ship.translate(...positions[team_idx]).scale(scale)
                        
                        textGroup= ship.group();
                        textGroup.transform({ translate: [600, 970], scaleX: 10, scaleY: 10 })
                        textGroup.text(names[team_idx]).font({ size: 18, anchor: 'middle', leading: '1.5em' })
                        
                        ship_parts.map((cl, part_idx) => {
                            var part = ship.findOne(`.${cl}`);
                            part.addClass(`pa-${part_idx}`);
                            part.stroke({ color: part_colors[part_idx], width: 40 });
                            fillPart(team_idx, part_idx);
                            part.click(() => handleClick(team_idx, part_idx));
                        });
                    }
                }, 'xml');
            }

            function handleClick(team_idx, part_idx) {
                let part_state = team_state[team_idx][part_idx] = 1 - team_state[team_idx][part_idx];
                $.ajax({
                    url : "/update",
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({ team_idx: team_idx, pa_idx: part_idx, pa_value: part_state }),
                });
                fillPart(team_idx, part_idx);
            }
            
            function fillPart(team_idx, part_idx) {
                let part = draw.findOne(`#tm-${team_idx} > .pa-${part_idx}`);
                let part_completed = team_state[team_idx][part_idx] == 1;
                part.fill({
                    color: part_completed ? part_colors[part_idx] : "white",
                    opacity: part_completed ? .85 : 0.3
                });
            }

        </script>
    </body>
</html>